<!DOCTYPE html>
<html>
    <head>
        <title>Github Navigator</title>
    </head>

    <body>

        <h1>{{ search_term }}</h1>
        {% for repo in repos %}
            <h2>{{ loop.index }} {{ repo.full_name }}</h2>
            <h3> Created {{ repo.created_at }}</h3>
            <a href="{{ repo.owner.url }}"><img src="{{ repo.owner.avatar_url }}" alt="avatar" height="42" width="42"/></a>
            {{ repo.owner.username }}
            <h3>LastCommit</h3>
                {{ repo.latest_commit.sha }} {{ repo.latest_commit.message }}  {{ repo.latest_commit.author_name }}
            <hr/>
        {% endfor %}
    
    </body>

</html>